@import url("https://fonts.googleapis.com/css?family=Lato:400,700,400italic&subset=latin,latin-ext");

html, body {
	padding: 0;
	margin: 0;
	font-family: 'Lato', Arial, sanf-serif;
	background-color: #fff;
	font-size: 18px;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

#header {
	height: 100px;
	padding: 0 35px 0 35px;
}

#header h1 {
	float: left;
	margin: 25px 0 0 0;
	padding: 0;
	color: #17283e;
}

#header a {
	text-decoration: none;
	display: block;
	float: left;
}

#header span {
	font-size: 24px;
	display: block;
	float: left;
	padding: 10px 0 0 20px;
}

#header p {
	float: right;
}

#header p a {
	color: #17283e;
	padding-left: 25px;
	margin: 0 0 0 25px;
}

#header .month {
	background: url('arrow_up.svg') left top no-repeat;
	background-size: 17px 18px;
}

#header .root {
	background: url('home.svg') left top no-repeat;
	background-size: 19px 19px;
}

#menu {
	height: 60px;
	background-color: #16273F;
	position: relative;
	padding: 0 35px 0 35px;
	margin: 0;
}

#menu h2 {
	color: #f49153;
	font-weight: bold;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	text-align: center;
	margin: 0;
	padding: 12px 0 0 0;
	z-index: 0;
}

#menu p {
	height: 30px;
	margin: 18px 0 0 0;
	padding: 0;
	position: relative;
	z-index: 1;
}

#menu a {
	color: #fff;
}

#menu .prev {
	float: left;
	background: url('arrow_left.svg') left top no-repeat;
	background-size: 12px 23px;
	padding-left: 20px;
}

#menu .next {
	float: right;
	background: url('arrow_right.svg') right top no-repeat;
	background-size: 12px 23px;
	padding-right: 20px;
}

#log {
	padding: 20px 35px 20px 35px;
}

#log p {
	margin: 1px 0 1px 0;
	padding: 0;
}

a.time {
	text-decoration: none;
	padding-right: 4px;
}

.time, .event.leave, .event.kick {
	color: #b5b5b5;
}

.event.join {
	color: #2fa388;
}

.event.topic {
	color: #ff0000;
}

.event {
	font-style: italic;
}

.msg .nick, .status {
	color: #f49153;	
}

.nick, .status {
	font-weight: bold;
}

.event.nick {
	font-weight: normal;
}

#footer {
	margin: 5px 0 0 0;
	border-top: 1px solid #e2e2e2;
	padding: 0 35px 0 35px;
}

#footer p {
	text-align: right;
}

#footer a {
	color: #b5b5b5;
}

.cleaner {
	clear: both;
}
