        <p class="event end-of-day">
        End of day. Log continues on <a href="<%= encode(@next_path, true) %>"><%= @next_day.strftime('%A, %B %-d %Y') %></a>
        </p>
        </div>
        <div id="footer">
            <p><a href="https://vpsfree.cz">vpsFree.cz</a></p>
        </div>
    </body>
</html>
